extends layout

block content
  div#aboutme
    div#aboutme-image
      img(src="assets/images/me.jpg")
    div#aboutme-writing
      h2 About Me
      p I am a developer interested in web development and machine learning. My favorite languages/frameworks are: Typescript, Node.js, and python. I am the IT Specialist, as well as an EMT-Basic at UMass EMS. As IT specialist I created and maintain a website for both internal and external use. I work with management to create new software solutions to institutional problems. I am also an Undergraduate Researcher at the Gierasch Lab. My research involves using machine learning and biochemical techniques to derive folding properties of particular proteins in E. coli. To derive these properties, I design and perform biochemical experiments then analyze the results of those experiments and others using machine learning techniques. Currently, I am a senior at the University of Massachusetts at Amherst pursuing a BS in Computer Science. I am writing a thesis about my research which is the final requirement I must fill to graduate with Commonwealth Multidisciplinary Honors. Though I have found a way to tie my lab work into my academic requirements my position in the lab is a professional position not strictly a class. I have also completed the requirements of the Pre-Medicine Track. I am on track to graduate in May of 2017. Though I originally chose my computer science major to differentiate myself from other medical school applicants I quickly fell in love with the subject and decided to forgo medical school and make computer science my primary focus.

      p I created this website to serve as a central hub for my various accounts as well as showcase my experience and the projects I have completed. The pojects here are just a sample of what I have created in the last two years or so.

  div#sites.center-flex
    each site in index.sites
      div
        a(href=site.url target="_blank")
          div(id=site.id).site-box
            h3=site.name
            img(src=site.logo)
