doctype html
html
  head
    meta(charset="utf-8")
    title Morse Codist
    link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
    link(rel="stylesheet" type="text/css" href="stylesheets/bundle.min.css")
    script(src="js/app.min.js")
  body
    div#navbar
      div.left
        a(href="/")
          h1 Morse Codist
      div.right
        a(href="/projects.html").pagelabel Projects
    div#content
      block content
