@font-face {
    font-family: raleway-semibold;
    src: url(../assets/fonts/raleway/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: raleway;
    src: url(../assets/fonts/raleway/Raleway-Medium.ttf);
}
