#aboutme {
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
}

#aboutme > div {
  text-align: left;
  margin: 10px;
  font-family: raleway;
}

#aboutme-writing {
  width: 100%;
}

div.site-box {
  border-radius: 3px;
  width: 300px;
  height: 160px;
  text-align: center;
  padding: 5px;
  display: inline-block;
}

div.site-box > * {
  margin: 5px;
}

div.site-box > h3 {
  font-size: 24pt;
  font-family: raleway;
}

div.site-box > img {
  height: 100px;
  display: inline-block;
}

#stackoverflow {
  color: black;
  @include hover-darken($stackoverflow);
}

#github {
  color: $off-black;
  @include hover-darken($github);
}

#linkedin {
  color: $off-white;
  @include hover-darken($linkedin);
}
