#projects {
  text-align: center;
  padding: 20px;
}

#projects > div {
  margin-bottom: 20px;
}

.project-box {
  border-radius: 5px;
  width: 300px;
  height: 160px;
  font-family: raleway;
  padding: 10px;
  display: inline-block;
  @include hover-darken(#aaaaaa);
}

.project-box > * {
  margin: 10px;
}
