#navbar h1 {
  font-family: raleway-semibold;
  color: $off-white;
  display: inline;
  transition: color 1s;
}

#navbar h1:hover {
  color: darken($off-white, 40);
}

#navbar {
  background-color: $main-blue;
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid darken($main-blue, 5);
}

@media screen and (max-aspect-ratio: 3/4) {
  #navbar h1 {
    font-size: 50px;
  }

  a.pagelabel {
    font-size: 50px;
  }

  div#content {
    margin-top: 81px;
  }
}

#navbar > div {
  flex-grow:1;
  padding: 10px;
}

#navbar > div.right {
  text-align: right;
}

.pagelabel {
  font-size: 24pt;
  text-decoration: none;
  padding: 10px;
  color: $off-white;
  font-family: raleway;
}

.pagelabel:hover {
  background-color: darken($main-blue, 10);
}

#content {
  margin-top: 57px;
}
